<div>
    <h2>User Details</h2>
  
    
    <div *ngIf="userDetails">
      <div>
        <strong>Name:</strong> {{ userDetails.first_name }} {{ userDetails.last_name }}
      </div>
      <div>
        <strong>Email:</strong> {{ userDetails.email }}
      </div>
      <div>
        <strong>Personal Email:</strong> {{ userDetails.personal_email }}
      </div>
      <div>
        <strong>Mobile:</strong> {{ userDetails.mobile }}
      </div>
      <div>
        <strong>Office Number:</strong> {{ userDetails.office_number }}
      </div>
      <div>
        <strong>Address:</strong> {{ userDetails.address }}
      </div>
      <div>
        <strong>City:</strong> {{ userDetails.city }}
      </div>
      <div>
        <strong>Country:</strong> {{ userDetails.country }}
      </div>
      
    </div>
  
    <div *ngIf="!userDetails">
      <p>No user details available.</p>
    </div>
  </div>