<div class="container">
    <button (click)="createNew()">Create New</button>
  
    <table>
      <thead>
        <tr>
          <th>Num</th>
          <th>Name</th>
          <th>Age</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.num }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td (click)="editItem(item)">Edit</td>
          <td (click)="confirmDelete(item)">Delete</td>
        </tr>
      </tbody>
    </table>
  

    <div class="toast" *ngIf="toastMessage">{{ toastMessage }}</div>
  </div>
